@model SaveMyDataServer.ViewModels.Auth.ChangePasswordViewModel
@{
    ViewData["title"] = "Change password";
}

<div class="container-fluid mt-5 text-center bg-light py-5">
    <div class="grid">
        <div class="row">
            @if (!Model.ChangeAuthorized)
            {
                <span class="text-info display-4 col my-auto text-monospace">Ohhh Noo, lets get you back in..</span>
            }
            else
            {
                <span class="text-info display-4 col my-auto text-monospace">Okey now lets setup the new password.</span>
            }

            <img class="col m-2" style="max-width: 350px;" src="/Images/curious.svg" />
        </div>
        <div class="row">
            @if (Model.ChangeAuthorized)
            {
                <form class="col-12" asp-controller="auth" asp-action="ChangePassword" method="post">
                    <input asp-for="@Model.Email" hidden />
                    <input asp-for="@Model.ChangeToken" hidden />
                    <div class="form-group">
                        <input class="form-control text-center" type="password" asp-for="@Model.Password" placeholder="new password">
                        <span class="text-danger" asp-validation-for="@Model.Password" />
                    </div>
                    <div class="form-group">
                        <input class="form-control text-center" type="password" asp-for="@Model.ConfirmPassword" placeholder="confirm new password">
                        <span class="text-danger" asp-validation-for="@Model.ConfirmPassword" />
                    </div>
                    <div class="form-group">
                        <input class="form-control text-center btn btn-outline-info " type="submit" value="Change">
                    </div>
                </form>
            }
            else
            {
                <form class="col-12" asp-action="requestchangePassword" asp-controller="auth" method="post">
                    <div class="form-group">
                        <input class="form-control text-center" type="email" asp-for="@Model.Email" placeholder="example@email.com">
                        <span class="text-danger" asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control text-center btn btn-outline-info " type="submit" value="Reset">
                    </div>
                </form>
            }
        </div>
    </div>
</div>
